@model Blog.Models.Aprovacion

@{
    Layout = "";
}
<p><strong>Administrador:</strong> @Model.usuarioA</p>
<p><strong>Fecha de rechazo:</strong> @Model.fecha_de_aprovacion </p>
<p><strong>Motivos:</strong> @Model.motivos</p>