
    <style>

        .contenidoPagina {
            
        }
        .alinear {
            margin: 0 auto;
            
            margin-left: 50%;
        }
        ul li{
            list-style: none;
            font-size: 21px;
            margin: 0;
            
        }
        img {
            margin-right: 2px;
            margin-bottom: 2px;
            
        }
    </style>

    <section class="contenidoPagina">
       
        <section class="alinear">
            <h1>Área Administrativa</h1>
            
            <ul>
                <li><img src="~/Images/orderedList1.png" /> @Html.ActionLink("Administracion de Usuarios", "Usuarios")</li>
                <li><img src="~/Images/orderedList2.png" /> @Html.ActionLink("Control de publicaciones", "Index", "Aprovacion")</li>
                <li><img src="~/Images/orderedList3.png" /> @Html.ActionLink("Administración de Categoría", "ListaCategoria")</li>

            </ul>
        </section>
       
    </section>
