
    <style>

        .alinear {
            background-color: darkblue;
            border-radius: 10px;
            border-bottom: dashed 1px #eee;
        }

    </style>

    <section class="contenidoPagina">
        <div class="alinear">
            <table>
                <tr>
                    <td colspan="2" align="center"><strong>Administraci&oacute;n</strong></td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Control de publicaciones", "Index", "Aprovacion")</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Administracion de usuarios", "Usuarios")</td>
                </tr>
            </table>
        </div>
       
    </section>
