
    <style>

        .contenidoPagina {
            width: 100%;
            margin-left: 0;
           
        }

    </style>

    <section class="contenidoPagina">
        <div class="alinear">
            <table>
                <tr>
                    <td colspan="2" align="center"><strong>Administraci&oacute;n</strong></td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Control de publicaciones", "Index", "Aprovacion")</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Administracion de usuarios", "Usuarios")</td>
                </tr>
            </table>
        </div>
       
    </section>
