
@if (Request.IsAuthenticated)
{
    <div class="submenu">
    <ul class="listaSubmenu">
        <li><a href="@Url.Action("Index","Aprovacion")">Publicaciones por aprobar</a></li>
        <span>|</span>
        <li><a href="@Url.Action("Aprobadas","Aprovacion")">Publicaciones Aprobadas</a></li>
        <span>|</span>
        <li> <a id="linkRechazado" href="@Url.Action("Rechazadas", "Aprovacion")">Publicaciones Rechazadas</a></li>
        <span>|</span>
        <li><a href="@Url.Action("Historial", "Aprovacion")">Historial</a></li>
    </ul>
</div>
}
else
{
    
}