@{
    ViewBag.Title = "Acerca";
}


<section id="acercaNosotros">
    <h2>Acerca De Nosotros</h2>

    <h3>WikiWiki ©</h3>
    <p>WikiWiki es un proyecto que nace por la nececidad de la tener un sitio en donde se disponga de información de interés en general de forma organizada y sencilla, destinada a un público en general. Sus creadores se basaron en el "linksharing", esto significa que el contenido es hecho por los conocimientos de diferentes usuarios del sitio al igual que de diferentes fuentes de información, cintando siempre el autor/sitio dueño de dicha información.</p>


    <h3>¿Tiene alguna duda? ¡Contáctenos!</h3>
    <p>
        ¡Estamos a sus servicios! Si tiene alguna idea de lo que necesita, tiene alguna pregunta
        o tan sólo quiere saludar; estamos a su disposición en cualquier momento. ¡No lo dudes! :D
       <a href="mailto:wikiwiki@gmail.com">wikiwiki@gmail.com</a>
    </p>

    <form>
       
    </form>

</section>