@{
    ViewBag.Title = "Acerca";
}


<style>
    .contenidoPagina {
        border: 2px solid #eee;
    }

    #contactInco {
        margin: 10px;
    }

    #acercanosotros {
        background-color: #2F67C4;
        box-shadow: inset 0px -8px 0px 0px #1D547A;
    }

    
</style>


<div id="contInfo">


    

    <h3>WikiWiki ©</h3>
    <hr />
    <p>WikiWiki es un proyecto que nace por la nececidad de la tener un sitio en donde se disponga de información de interés en general de forma organizada y sencilla, destinada a un público en general. Sus creadores se basaron en el "linksharing", esto significa que el contenido es hecho por los conocimientos de diferentes usuarios del sitio al igual que de diferentes fuentes de información, cintando siempre el autor/sitio dueño de dicha información.</p>
    <hr />
   
    <p>Este fue el equipo responsable de llevar a cabo todo este proyectos</p>
    <div>

        <img src="~/Images/contactos/danny.jpg" />
        <br /><br />
        <span>Danny Feliz </span> <article class="puesto">Desarrollador/Diseñador</article>

    </div>

    <div>

        <img src="~/Images/contactos/ezequiel.jpg" />
        <br /><br />
        <span>Ezequiel De Paula</span>  <article class="puesto">Desarrollador</article>

    </div>

    <div>

        <img src="~/Images/contactos/lewdin.jpg" />
        <br /><br />
        <span>Lewdin Acevedo</span> <article class="puesto">Desarrollador</article>

    </div>

    <div>

        <img src="~/Images/contactos/moises.jpg" />
        <br /><br />
        <span>Moises Benjamín</span> <article class="puesto">Tester</article>

    </div>

    <div>

        <img src="~/Images/contactos/freddy.jpg" />
        <br /><br />
        <span>Freddy García</span> <article class="puesto">Desarrollador</article>

    </div>

</div>

@*<p>Wiki (Nombre temporal)</p>

    <p>República Dominicana</p>
    <ul>
        <span>Desarrolladores</span>
        <li>Danny Feliz</li>
        <li>Freddy García</li>
        <li>Moises Benjamin</li>
        <li>Lewdin Acevedo</li>
        <li>Ezequiel De Paula</li>
    </ul>


    <p>Si deseas contactarte con nosotros escríbenos pulsando <a href="#">aquí</a> </p>*@
