@{
    ViewBag.Title = "Contact";
}


<style>
    #contacto {
        background-color: #2F67C4;
        box-shadow: inset 0px -8px 0px 0px #1D547A;
    }
</style>
<section id="acercaNosotros">
    <h2>Contactos</h2>
    
    <h3>¿Tiene alguna duda? ¡Contáctenos!</h3>
    <p>
        ¡Estamos a sus servicios! Si tiene alguna idea de lo que necesita, tiene alguna pregunta
        o tan sólo quiere saludar; estamos a su disposición en cualquier momento. ¡No lo dudes! :D
        <a href="mailto:wikiwiki@gmail.com">wikiwiki@gmail.com</a>
    </p>

    <form></form>

</section>