@{
    ViewBag.Title = "Contact";
}

<style>
    .contenidoPagina {
        border: 2px solid #eee;
       
        
    }
    #contactInco {
        margin: 10px;
    }
</style>

<div id="contactInco">
    <div id="contInfo">
        <figure>
            <img src="~/Images/contactos/danny.jpg"/>
            <figcaption>Danny Feliz <br /> Desarrolador/Diseñador</figcaption>
        </figure>

        <figure>
            <img src="~/Images/contactos/ezequiel.jpg" />
            <figcaption>Ezequiel De Paula <br /> Desarrolador</figcaption>
        </figure>

        <figure>
            <img src="~/Images/contactos/lewdin.jpg" />
            <figcaption>Lewdin Acevedo <br /> Desarrolador</figcaption>
        </figure>


        @*<p>Wiki (Nombre temporal)</p>

        <p>República Dominicana</p>
        <ul>
            <span>Desarroladores</span>
            <li>Danny Feliz</li>
            <li>Freddy García</li>
            <li>Moises Benjamin</li>
            <li>Lewdin Acevedo</li>
            <li>Ezequiel De Paula</li>
        </ul>


        <p>Si deseas contactarte con nosotros escríbenos pulsando <a href="#">aquí</a> </p>*@
    </div>

    <div id="contImg">
        <img src="../Images/sospecho.png">
    </div>
</div>
