@{
    ViewBag.Title = "Contact";
}

<style>
    .contenidoPagina {
        border: 2px solid #eee;
    }

    #contactInco {
        margin: 10px;
    }
</style>


<div id="contInfo">
    <div>

        <img src="~/Images/contactos/danny.jpg" />
        <br /><br />
        <span>Danny Feliz </span> <article class="puesto">Desarrolador/Diseñador</article>

    </div>
    
    <div>

        <img src="~/Images/contactos/ezequiel.jpg" />
        <br /><br />
        <span>Ezequiel De Paula</span>  <article class="puesto">Desarrolador</article>

    </div>
    
    <div>

        <img src="~/Images/contactos/lewdin.jpg" />
        <br /><br />
       <span>Lewdin Acevedo</span> <article class="puesto">Desarrolador</article>

    </div>

    <div>

        <img src="~/Images/contactos/moises.jpg" />
        <br /><br />
        <span>Moises Benjamín</span> <article class="puesto">Desarrolador</article>

    </div>

    <div>

        <img src="~/Images/contactos/freddy.jpg" />
        <br /><br />
        <span>Freddy García</span> <article class="puesto">Desarrolador</article>

    </div>

</div>

@*<p>Wiki (Nombre temporal)</p>

    <p>República Dominicana</p>
    <ul>
        <span>Desarroladores</span>
        <li>Danny Feliz</li>
        <li>Freddy García</li>
        <li>Moises Benjamin</li>
        <li>Lewdin Acevedo</li>
        <li>Ezequiel De Paula</li>
    </ul>


    <p>Si deseas contactarte con nosotros escríbenos pulsando <a href="#">aquí</a> </p>*@